/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.books-grid li {
  position: relative;
  padding: 10px 15px;
  text-align: left;
  margin: 0 15px;
}

.book {
  width: 180px;
  padding: 20px;
}

.books-grid li:after {
  content: '';
  width: 100%;
  height: 90%;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid #E64442;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 10px;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
  z-index: 10;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00F7FF;
  background-image: url('../icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  /* box-shadow: 5px 5px 20px #333; */
  background: #eee;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

.book-cover-title:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.book-cover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0,0,0,0.06);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.book-cover:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  left: -1px;
  background-color: rgba(239, 239, 239, 0.3);
  box-shadow: inset 0px 0px 5px #aaa;
  -moz-transform: rotateY(20deg);
  -webkit-transform: perspective(100) rotateY(20deg);
}